@import "variables";

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

// Header

.header {
    &__info {
        background-color: $main-blue;
        ul {
            max-width: $screen-width;
            margin: 0 auto;
            display: flex;
            li {
                padding: 15px;
                color: #FFF;
                list-style: none;
            }
        }
    }

    &__logo {
        max-width: $screen-width;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
            li {
                padding: 25px;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

#logo {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 25px;
}

// Main

.main {
    background-color: $main-blue;
    color: #FFF;

    &__banner {
        height: 500px;
        background-color: #FFF;
        border: 1px solid black;
    }

    &__cats {
        max-width: $screen-width;
        margin: auto;
        padding: 10px 25px;

        h1 {
            text-align: center;
        }

        &__container {
            padding: 25px;
            display: grid;
            gap: 25px;           
        }
    }

    &__cat {
        width: 100%;
        padding: 25px;
        margin: auto;
        background-color: rgb(44, 62, 80);

        a {
            display: block;
            color: #FFF;
            text-decoration: none;
        }

        &__img {
            width: 100%;
        }

        &__name {
            text-align: center;
        }

        &:nth-child(1) {
            grid-area: 1 / 1;
        }
        &:nth-child(2) {
            grid-area: 1 / 2;
        }
        &:nth-child(3) {
            grid-area: 1 / 3;
        }
        &:nth-child(4) {
            grid-area: 2 / 1;
        }
        &:nth-child(5) {
            grid-area: 2 / 2;
        }
        &:nth-child(6) {
            grid-area: 2 / 3;
        }
        &:nth-child(7) {
            grid-area: 3 / 1;
        }
        &:nth-child(8) {
            grid-area: 3 / 2;
        }
        &:nth-child(9) {
            grid-area: 3 / 3;
        }
    }
}

// Footer

.footer {
    color: rgba(255, 255, 255, 0.75);
    &__info {
        padding: 25px;
        background-color: $footer-grey;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        ul {
            margin: 25px;
            display: flex;
            li {
                padding: 25px;
                list-style: none;
            }
        }
    }

    &__credits {
        padding: 25px;
        text-align: center;
        background-color: $footer-dark;
    }
}

// Cat page info

.main__cat-info {
    max-width: $screen-width;
    margin: auto;
    padding: 25px 25px 75px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__title {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    &__img {
        width: 500px;
    }

    p {
        margin-bottom: 25px;
        width: 720px;
        span {
            color: red;
        }
    }

    .price {
        color: red;
        font-size: 3em;
        margin-left: 25px;
        margin-bottom: 10px;
    }

    &__form {
        width: 400px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        label {
            margin: 10px;
        }
    }

    &__number {
        width: 150px;
        padding: 5px;
        margin-right: 10px;
    }

    &__btn {
        padding: 5px;
        border-radius: 2px;

        &.enable:hover {
            cursor: pointer;
            background-color: red;
            color: #FFF;
        }
    }

    &__ready {
        margin-top: 25px;
        margin-left: 25px;
        font-style: italic;
        font-weight: bold;
        text-shadow: $shadow;
        color: #ff3333;

        &.ready {
            color: #4BB543;
        }
    }
}

// Panier

.main {
    &__cart {
        max-width: $screen-width;
        margin: auto;

        &__title {
            padding: 25px;
            text-align: center;
        }

        &__price {
            text-align: center;
        }

        &__content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__cat {
            width: 25%;
            margin: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__name {
                font-size: 2em;
            }

            &__img {
                width: 100%;
                margin-bottom: 10px;
            }

            &__quant {
                color: red;
                font-size: 1.5em;
            }

            p:nth-child(3) {
                margin-bottom: 5px;
            }
            .fa-solid {
                text-shadow: $shadow;
                margin-right: 5px;
            }
            .fa-check {
                color: #4BB543;
            }
            .fa-xmark {
                color: #ff3333;
            }
        }

        &__form {
            width: 75%;
            padding: 25px;
            margin: auto;
            display: flex;
            flex-direction: column;

            label {
                margin: 10px 25px;
            }

            textarea {
                height: 250px;
                width: 100%;
            }

            &__submit {
                width: 100%;
                margin: 25px 0;
                padding: 10px;
            }
        }
    }
}