@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}

.header__info {
  background-color: #3498db;
}

.header__info ul {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__info ul {
    display: block;
    text-align: center;
  }
}

.header__info ul li {
  padding: 15px;
  color: #FFF;
  list-style: none;
}

.header__logo {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__logo {
    display: block;
  }
}

.header__logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__name {
  font-size: 2em;
}

@media screen and (max-width: 1280px) {
  .header__logo__name {
    font-size: 1.5em;
  }
}

.header__logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__logo ul li {
  margin: auto;
  padding: 25px;
}

.header__logo ul li a {
  text-decoration: none;
  color: #000;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  background-color: #3498db;
  color: #FFF;
}

.main__banner {
  height: 500px;
}

.main__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__cats {
  max-width: 1400px;
  margin: auto;
  padding: 10px 25px;
}

.main__cats h1 {
  text-align: center;
}

.main__cats__container {
  padding: 25px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template: auto/repeat(3, 1fr);
  gap: 25px;
}

@media screen and (max-width: 1200px) {
  .main__cats__container {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .main__cats__container {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[1];
        grid-template: auto/repeat(1, 1fr);
  }
}

.main__cat {
  width: 100%;
  padding: 25px;
  margin: auto;
  background-color: #2c3e50;
}

.main__cat a {
  display: block;
  color: #FFF;
  text-decoration: none;
}

.main__cat__img {
  width: 100%;
}

.main__cat__name {
  text-align: center;
}

.footer {
  color: rgba(255, 255, 255, 0.75);
}

.footer__info {
  padding: 25px;
  background-color: #3d424f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .footer__info {
    display: block;
  }
}

.footer__info ul {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__info ul {
    display: block;
  }
}

.footer__info ul li {
  padding: 25px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .footer__info ul li {
    padding: 10px;
  }
}

.footer__credits {
  padding: 25px;
  text-align: center;
  background-color: #2d2f3e;
}

.main__cat-info {
  max-width: 1400px;
  margin: auto;
  padding: 25px 25px 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__cat-info__title {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.main__cat-info__img {
  width: 500px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1280px) {
  .main__cat-info__img {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .main__cat-info__img {
    width: 95%;
  }
}

.main__cat-info__info {
  margin-left: 20px;
}

.main__cat-info p {
  margin-bottom: 25px;
  width: 720px;
}

@media screen and (max-width: 768px) {
  .main__cat-info p {
    width: auto;
    margin-top: 10px;
  }
}

.main__cat-info p span {
  color: red;
}

.main__cat-info .price {
  color: red;
  font-size: 3em;
  margin-left: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .main__cat-info .price {
    text-align: center;
  }
}

.main__cat-info__form {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__cat-info__form label {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .main__cat-info__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .main__cat-info__form input {
    margin: 5px;
  }
}

.main__cat-info__number {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
}

.main__cat-info__btn {
  padding: 5px;
  border-radius: 2px;
}

.main__cat-info__btn.enable:hover {
  cursor: pointer;
  background-color: red;
  color: #FFF;
}

.main__cat-info__ready {
  margin-top: 25px;
  margin-left: 25px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 0 0 #FFF, 1px 1px 0 #FFF, 0 1px 0 #FFF, -1px 1px 0 #FFF, -1px 0 0 #FFF, -1px -1px 0 #FFF, 0 -1px 0 #FFF, 1px -1px 0 #FFF;
  color: #ff3333;
}

@media screen and (max-width: 768px) {
  .main__cat-info__ready {
    margin: auto;
    text-align: center;
  }
}

.main__cat-info__ready.ready {
  color: #4BB543;
}

.main__cart {
  max-width: 1400px;
  margin: auto;
}

.main__cart__title {
  padding: 25px;
  text-align: center;
}

.main__cart__price {
  width: 75%;
  padding: 25px;
  margin: 0 auto 25px;
  background-color: #FFF;
  border: 3px double black;
  color: #000;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__cart__price {
    width: 80%;
  }
}

.main__cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .main__cart__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__cart__cat {
  width: 25%;
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .main__cart__cat {
    width: 75%;
  }
  .main__cart__cat p:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__cart__cat p:nth-child(4) span {
    margin-left: 5px;
  }
}

.main__cart__cat .underline {
  text-decoration: underline;
}

.main__cart__cat__name {
  font-size: 2em;
}

.main__cart__cat__name span {
  color: #000;
  font-size: 0.5em;
  position: relative;
  top: -10px;
}

.main__cart__cat__name span:hover {
  cursor: pointer;
}

.main__cart__cat__img {
  width: 100%;
  margin-bottom: 10px;
}

.main__cart__cat__quant {
  color: red;
  font-size: 1.5em;
}

.main__cart__cat .add:hover, .main__cart__cat .remove:hover {
  cursor: pointer;
}

.main__cart__cat p:nth-child(3) {
  margin-bottom: 5px;
}

.main__cart__cat .fa-solid {
  text-shadow: 1px 0 0 #FFF, 1px 1px 0 #FFF, 0 1px 0 #FFF, -1px 1px 0 #FFF, -1px 0 0 #FFF, -1px -1px 0 #FFF, 0 -1px 0 #FFF, 1px -1px 0 #FFF;
  margin-right: 5px;
}

.main__cart__cat .fa-solid:hover {
  cursor: pointer;
}

.main__cart__cat .fa-check {
  color: #4BB543;
}

.main__cart__cat .fa-xmark {
  color: #ff3333;
}

.main__cart__form {
  width: 75%;
  padding: 25px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .main__cart__form {
    width: 90%;
  }
}

.main__cart__form label {
  margin: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__cart__form .label-name, .main__cart__form .label-email, .main__cart__form .label-message {
  color: #ff3333;
  text-shadow: 1px 0 0 #FFF, 1px 1px 0 #FFF, 0 1px 0 #FFF, -1px 1px 0 #FFF, -1px 0 0 #FFF, -1px -1px 0 #FFF, 0 -1px 0 #FFF, 1px -1px 0 #FFF;
}

.main__cart__form input {
  padding: 10px;
}

.main__cart__form textarea {
  height: 250px;
  width: 100%;
  padding: 10px;
}

.main__cart__form__submit {
  width: 100%;
  margin: 25px 0;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */